*{
    margin: 0;
    padding: 0;
}

.head{
    align-items: center;
    margin: 5px auto;
    width: fit-content;
    padding: 10px;
    font-size: 40px;
}



.section{
    width: 100%;
    display: flex;
    margin-top: 25px;
}

.box{
    width: 30%;
    margin: auto;
    border: 3px solid black;
    border-radius: 5px;
    padding: 0px;
    background-color: grey;
    height: 50vh;
}
.content{
    display: flex;
    justify-content: end;
}

.title{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid;
    margin: 0;
    right: 0;
    padding: 5px;
    font-size: 23px;
}

#t-1{
    background-color: rgba(255, 0, 0, 0.49);
}

#t-2{
    background-color: rgba(255, 255, 0, 0.463);
}

#t-3{
    background-color: rgba(255, 166, 0, 0.629);
}

.about{
    padding: 10px;
}

@media (max-width: 991px) and (min-width:768px){
    .section{
        display: block;

    }
    #box-1{
        float: left;
        width: 45%;
    }
    #box-2{
        float:right;
        width: 45%;
    }
    #box-3{
        width: 95%;
        clear: left;
    }
    .box{
        margin: 15px;
    }
}

@media (max-width: 747px){
    .section{
        flex-direction: column;
    }

    .box{
        width: 90%;
        margin: 10px auto;
    }
}
